@charset "UTF-8";
/* Zeroing */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* End zeroing */
@font-face {
  font-family: 'Thinking_of_Betty';
  src: url("fonts/Thinking_of_Betty.eot");
  src: local("☺"), url("fonts/Thinking_of_Betty.woff") format("woff"), url("fonts/Thinking_of_Betty.ttf") format("truetype"), url("fonts/Thinking_of_Betty.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #f8e530;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  overflow-x: hidden;
}

.container {
  width: 75%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 50px 0;
}

/* Header style */
.header {
  background-color: #000;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
  height: 90px;
  width: 100%;
  -webkit-transition: height 1s ease 0s, background-color 1s ease 0s;
  transition: height 1s ease 0s, background-color 1s ease 0s;
}

.header__container {
  width: 85%;
  height: inherit;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.logo {
  font-family: "Thinking_of_Betty";
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  cursor: pointer;
}
.logo a {
  color: #fff;
}
.logo p:first-child {
  font-size: 30px;
}
.logo p:last-child {
  padding: 0 0 0 25px;
}

.header__nav {
  width: 50%;
  min-width: 350px;
  -webkit-transition: left 1s ease 0s, visibility 1s ease 0s;
  transition: left 1s ease 0s, visibility 1s ease 0s;
}

.header__list {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
}
.header__list a {
  color: #fff;
  position: relative;
}
.header__list a::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 2px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease 0s, left 0.3s ease 0s, width 0.3s ease 0.15s;
  transition: opacity 0.15s ease 0s, left 0.3s ease 0s, width 0.3s ease 0.15s;
}
.header__list a:hover::after {
  opacity: 1;
  left: 50%;
  width: 30px !important;
}

.header__burger {
  display: none;
}

body.lock {
  overflow: hidden;
}

.header_translucent {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 650px) {
  .header {
    height: 70px;
  }

  .logo {
    font-size: 14px;
    line-height: 13px;
  }
  .logo p:first-child {
    font-size: 22px;
  }
  .logo p:last-child {
    padding: 0 0 0 15px;
  }

  .header__burger {
    display: block;
    position: absolute;
    top: 25px;
    right: 0;
    width: 30px;
    height: 20px;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    right: 0;
    -webkit-transition: width 0.5s ease 0.5s, -webkit-transform 0.5s ease 0s;
    transition: width 0.5s ease 0.5s, -webkit-transform 0.5s ease 0s;
    transition: width 0.5s ease 0.5s, transform 0.5s ease 0s;
    transition: width 0.5s ease 0.5s, transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    height: 2px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    -webkit-transition: width 0.5s ease 0.5s, opacity 0.5s ease 0s;
    transition: width 0.5s ease 0.5s, opacity 0.5s ease 0s;
  }

  .header__burger.header__burger_active::before, .header__burger.header__burger_active::after {
    width: 85%;
    -webkit-transition: width 0.5s ease 0s, -webkit-transform 0.5s ease 0.5s;
    transition: width 0.5s ease 0s, -webkit-transform 0.5s ease 0.5s;
    transition: width 0.5s ease 0s, transform 0.5s ease 0.5s;
    transition: width 0.5s ease 0s, transform 0.5s ease 0.5s, -webkit-transform 0.5s ease 0.5s;
  }
  .header__burger.header__burger_active::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header__burger.header__burger_active::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__burger.header__burger_active span {
    width: 85%;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease 0.5s, width 0.5s ease 0s;
    transition: opacity 0.5s ease 0.5s, width 0.5s ease 0s;
  }

  .header__container {
    display: block;
  }

  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }

  .header__nav {
    margin: 25% 0 0;
    position: relative;
    left: -100%;
    visibility: hidden;
  }

  .header_active {
    height: 100%;
    background-color: #000;
  }
  .header_active .header__nav {
    visibility: visible;
    left: 0;
  }
}
/* End header style */
/* Slider page style */
.slider__section {
  position: relative;
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.slider__section .container {
  height: inherit;
  min-height: inherit;
  position: relative;
}

.slider__bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}

.slider__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding: 90px 0 30px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: left 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  transition: left 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}

.slider__position_1 {
  left: -80%;
}

.slider__position_2 {
  visibility: visible;
  opacity: 1;
  -webkit-transition: left 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  transition: left 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}

.slider__position_3 {
  left: 180%;
}

.page__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.page__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.image__shadow {
  bottom: -130px;
  z-index: -1;
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}

.page__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  text-align: center;
  text-transform: uppercase;
}
.page__text h2 {
  font-weight: 900;
  font-size: 80px;
  line-height: 58px;
  letter-spacing: -7px;
}
.page__text p {
  font-weight: 600;
}

.button {
  width: 150px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: -1px;
  -webkit-transform: skew(30deg, 0);
          transform: skew(30deg, 0);
  border-radius: 5px;
  position: relative;
}
.button p {
  font-weight: 900;
  font-size: 15px;
  -webkit-transform: skew(-30deg, 0);
          transform: skew(-30deg, 0);
}
.button::before, .button::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  opacity: 0;
}
.button::before {
  top: 5px;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.15s ease 0s, left 0.3s ease 0s, width 0.3s ease 0.15s, top 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: opacity 0.15s ease 0s, left 0.3s ease 0s, width 0.3s ease 0.15s, top 0.3s ease 0s, background-color 0.3s ease 0s;
}
.button::after {
  bottom: 5px;
  right: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  -webkit-transition: opacity 0.15s ease 0s, right 0.3s ease 0s, width 0.3s ease 0.15s, bottom 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: opacity 0.15s ease 0s, right 0.3s ease 0s, width 0.3s ease 0.15s, bottom 0.3s ease 0s, background-color 0.3s ease 0s;
}
.button:hover::before, .button:hover::after {
  opacity: 1;
  width: 80%;
}
.button:hover::before {
  left: 50%;
}
.button:hover::after {
  right: 50%;
}
.button:active::before {
  top: 50%;
}
.button:active::after {
  bottom: 50%;
}

.button_black {
  color: #fff;
  background-color: #000;
}
.button_black::before, .button_black::after {
  background-color: #fff;
}
.button_black:active::before, .button_black:active::after {
  background-color: #f8e530;
}

.button_yellow {
  color: #000;
  background-color: #f8e530;
}
.button_yellow::before, .button_yellow::after {
  background-color: #000;
}
.button_yellow:active::before, .button_yellow:active::after {
  background-color: #fff;
}

.slider__circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 50px;
  width: 100%;
  padding: 100px 0 0;
}

.circle {
  background-color: #000;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.circle::before {
  content: "";
  width: 0px;
  height: 0px;
  background-color: #f8e530;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width 0.3s ease 0s, height 0.3s ease 0s;
  transition: width 0.3s ease 0s, height 0.3s ease 0s;
}

.circle.circle_active::before {
  width: 5px;
  height: 5px;
}

@media screen and (max-width: 1000px) {
  .page__text h2 {
    font-size: 70px;
    letter-spacing: -6px;
    line-height: 53px;
  }
}
@media screen and (max-width: 900px) {
  .slider__page {
    padding: 90px 0 0;
  }
}
@media screen and (max-width: 750px) {
  .slider__page {
    gap: 0;
  }

  .page__image {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .page__text h2 {
    font-size: 50px;
    letter-spacing: -6px;
    line-height: 36px;
  }
}
/* End slider page style */
/* Services style */
.services {
  position: relative;
  min-height: 100vh;
}
.services .container {
  min-height: inherit;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.services__bg {
  position: absolute;
  height: 100%;
  width: 100%;
}
.services__bg .bg_one,
.services__bg .bg_two {
  height: 50%;
  width: 100%;
  position: relative;
}
.services__bg .bg_one img,
.services__bg .bg_two img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  text-align: center;
  font-size: 13px;
}
.title h2 {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0 0 25px 0;
}
.title .yellow {
  color: #f8e530;
}

.services__title {
  color: #868686 !important;
}
.services__title h2 {
  color: #fff;
}

.title_black-bg {
  color: #fff;
}

.title_yellow-bg {
  color: #000;
}

.services__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.column {
  color: #868686;
  text-align: center;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.column h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  margin: 0 0 20px 0;
}

.column__image {
  position: relative;
  width: 100%;
  height: 30vh;
}
.column__image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 680px) {
  .title .yellow {
    display: inline-block;
  }
}
@media screen and (max-width: 570px) {
  .services__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}
@media screen and (max-width: 340px) {
  .title h2 {
    font-size: 33px;
  }
}
/* End services style */
/* Work style */
.work {
  position: relative;
}
.work .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  position: relative;
  z-index: 2;
}

.work__bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 26.5%;
}
.work__bg img {
  position: absolute;
  bottom: 0;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.work__bg_filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 229, 48, 0.8);
  z-index: 1;
}

.work__gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.work__gallery .item {
  position: relative;
  padding: 0 0 75% 0;
}
.work__gallery .item img {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .work__gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
/* End work style */

/*# sourceMappingURL=style.css.map */